.section__full-screen__video {
  width: 100%;
  height: 100vh;
  position: relative;
  .video-iframe{
    width: 100%;
    height: 100%;
    &-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  &.stick__header__navbar {
    .video-iframe-wrapper {
      top: $navbar-height;
    }
  }
  &.stick__footer__navbar {
    .video-iframe-wrapper {
      bottom: $navbar-height;
    }
  }
  &.stick__header__navbar.stick__footer__navbar {
    .video-iframe {
      top: $navbar-height;
      bottom: $navbar-height;
    }
  }
}