$theme-white: #ffffff;
$theme-dark: #343434;
$theme-black: #000000;
$theme-green: #31948b;
$theme-green-light: #46cec1;
$theme-transparent: transparent;

// Forms
$buttons--colors: (
  (positive: $theme-green)
);
