section#faq.section.jumbotron
  .container
    h2 F.A.Q.
  .container
    #accordion.panel-group(aria-multiselectable="true" role="tablist")
      - var num = 1
      .panel.panel-default
        .panel-heading(role="tab" id="panel-title-"+num)
          a(role="button" data-toggle="collapse" data-parent="#accordion" href="#panel-"+num aria-controls="panel-"+num)
            | How to map a custom directory?
        .panel-collapse.collapse(role="tabpanel" aria-labelledby="panel-title-"+num id="panel-"+num)
          .panel-body
            p The idea is to symlink anything inside of {{ beet_base }} into the desired location.
            p Create a custom task in&nbsp;
              kbd .beetbox/tasks/post/dirs.yml
            pre
              | symlinks:
              |   - src: "{{ beet_base }}/.data"
              |     link: /var/lib/elasticsearch
              |     force: yes
      - var num = 2
      .panel.panel-default
        .panel-heading(role="tab" id="panel-title-"+num)
          a(role="button" data-toggle="collapse" data-parent="#accordion" href="#panel-"+num aria-controls="panel-"+num)
            | How to run a custom script on startup or provision?
        .panel-collapse.collapse(role="tabpanel" aria-labelledby="hpanel-title-"+num id="panel-"+num)
          .panel-body
            p Create a custom task in&nbsp;
              kbd .beetbox/tasks/post/init.yml
            pre
              | - name: Runs init tasks.
              |   command: somescript.sh
              |   args:
              |     chdir: "{{ beet_base }}"
              |   become: no