section#why.section.jumbotron
  .container
    h2 Why need tp use Beetbox?
    .row.text-center
      .col-xs-12.col-md-4
        img(src="images/logos/speed.svg" alt="Fast speed").img-respons.vertical-spacing
        h4 Fast speed
      .col-xs-12.col-md-4
        img(src="images/logos/composer.svg" alt="Use composer").img-respons.vertical-spacing
        h4 Use composer
      .col-xs-12.col-md-4
        img(src="images/logos/yaml.svg" alt="Simple config").img-respons.vertical-spacing
        h4 Simple config