extends base/layouts/basic
block title
  title All about Beetbox project.
block content
  include  page-layers/index/section-what
  include  page-layers/index/section-why
  include  page-layers/index/section-how
  include  page-layers/index/section-faq
