-
  var social_list = [
    {
      link: "http://facebook.com/cooverboxau",
      icon: "fa-facebook"
    },
    {
      link: "https://twitter.com/cooverboxau",
      icon: "fa-twitter"
    },
    {
      link: "http://instagram.com/cooverboxau",
      icon: "fa-instagram"
    }
  ]
mixin social-links(social_list)
  ul.social-links
    - var i = 0.2
    each item in social_list
      li.social-links--item
        a.link.wow.fadeInUp(href=item.link data-wow-delay=i+'s')
          i(class="fa "+item.icon)
          - i = i + 0.2
